# Module 2 Assessment

Welcome to your Mod 2 Assessment. You will be tested for your understanding of concepts and ability to solve problems that have been covered in class and in the curriculum.

Use any libraries you want to solve the problems in the assessment.

You will have up to two hours to complete this assessment.

The sections of the assessment are:

- Accessing Data Through APIs
- Object Oriented Programming
- SQL and Relational Databases
- HTML, CSS and Web Scraping
- Other Database Structures (MongoDB)

In this assessment you will be exploring two datasets: Pokemon and Quotes.

In [49]:
# import the necessary libraries
import requests
import json
import pandas as pd
import sqlite3
from bs4 import BeautifulSoup
import pymongo

## Part 1: Accessing Data Through APIs

In this section we'll be using PokeAPI to get data on Pokemon. Let's first define functions to get information from the API. Provided below is a URL that will get you started with the first 151 Pokemon! Run the cell below to see what we get.

In [2]:
url = 'https://pokeapi.co/api/v2/pokemon/?limit=151'
results = requests.get(url).json()['results']
results

[{'name': 'bulbasaur', 'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
 {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
 {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
 {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
 {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'},
 {'name': 'charizard', 'url': 'https://pokeapi.co/api/v2/pokemon/6/'},
 {'name': 'squirtle', 'url': 'https://pokeapi.co/api/v2/pokemon/7/'},
 {'name': 'wartortle', 'url': 'https://pokeapi.co/api/v2/pokemon/8/'},
 {'name': 'blastoise', 'url': 'https://pokeapi.co/api/v2/pokemon/9/'},
 {'name': 'caterpie', 'url': 'https://pokeapi.co/api/v2/pokemon/10/'},
 {'name': 'metapod', 'url': 'https://pokeapi.co/api/v2/pokemon/11/'},
 {'name': 'butterfree', 'url': 'https://pokeapi.co/api/v2/pokemon/12/'},
 {'name': 'weedle', 'url': 'https://pokeapi.co/api/v2/pokemon/13/'},
 {'name': 'kakuna', 'url': 'https://pokeapi.co/api/v2/pokemon/14/'},
 {'name': 'beedrill', 'url': 'https://pokeapi.co/api/v2/pokemon/15/'},
 {'name': 'pidgey', 'url': 'https://pokeapi.co/api/v2/pokemon/16/'},
 {'name': 'pidgeotto', 'url': 'https://pokeapi.co/api/v2/pokemon/17/'},
 {'name': 'pidgeot', 'url': 'https://pokeapi.co/api/v2/pokemon/18/'},
 {'name': 'rattata', 'url': 'https://pokeapi.co/api/v2/pokemon/19/'},
 {'name': 'raticate', 'url': 'https://pokeapi.co/api/v2/pokemon/20/'},
 {'name': 'spearow', 'url': 'https://pokeapi.co/api/v2/pokemon/21/'},
 {'name': 'fearow', 'url': 'https://pokeapi.co/api/v2/pokemon/22/'},
 {'name': 'ekans', 'url': 'https://pokeapi.co/api/v2/pokemon/23/'},
 {'name': 'arbok', 'url': 'https://pokeapi.co/api/v2/pokemon/24/'},
 {'name': 'pikachu', 'url': 'https://pokeapi.co/api/v2/pokemon/25/'},
 {'name': 'raichu', 'url': 'https://pokeapi.co/api/v2/pokemon/26/'},
 {'name': 'sandshrew', 'url': 'https://pokeapi.co/api/v2/pokemon/27/'},
 {'name': 'sandslash', 'url': 'https://pokeapi.co/api/v2/pokemon/28/'},
 {'name': 'nidoran-f', 'url': 'https://pokeapi.co/api/v2/pokemon/29/'},
 {'name': 'nidorina', 'url': 'https://pokeapi.co/api/v2/pokemon/30/'},
 {'name': 'nidoqueen', 'url': 'https://pokeapi.co/api/v2/pokemon/31/'},
 {'name': 'nidoran-m', 'url': 'https://pokeapi.co/api/v2/pokemon/32/'},
 {'name': 'nidorino', 'url': 'https://pokeapi.co/api/v2/pokemon/33/'},
 {'name': 'nidoking', 'url': 'https://pokeapi.co/api/v2/pokemon/34/'},
 {'name': 'clefairy', 'url': 'https://pokeapi.co/api/v2/pokemon/35/'},
 {'name': 'clefable', 'url': 'https://pokeapi.co/api/v2/pokemon/36/'},
 {'name': 'vulpix', 'url': 'https://pokeapi.co/api/v2/pokemon/37/'},
 {'name': 'ninetales', 'url': 'https://pokeapi.co/api/v2/pokemon/38/'},
 {'name': 'jigglypuff', 'url': 'https://pokeapi.co/api/v2/pokemon/39/'},
 {'name': 'wigglytuff', 'url': 'https://pokeapi.co/api/v2/pokemon/40/'},
 {'name': 'zubat', 'url': 'https://pokeapi.co/api/v2/pokemon/41/'},
 {'name': 'golbat', 'url': 'https://pokeapi.co/api/v2/pokemon/42/'},
 {'name': 'oddish', 'url': 'https://pokeapi.co/api/v2/pokemon/43/'},
 {'name': 'gloom', 'url': 'https://pokeapi.co/api/v2/pokemon/44/'},
 {'name': 'vileplume', 'url': 'https://pokeapi.co/api/v2/pokemon/45/'},
 {'name': 'paras', 'url': 'https://pokeapi.co/api/v2/pokemon/46/'},
 {'name': 'parasect', 'url': 'https://pokeapi.co/api/v2/pokemon/47/'},
 {'name': 'venonat', 'url': 'https://pokeapi.co/api/v2/pokemon/48/'},
 {'name': 'venomoth', 'url': 'https://pokeapi.co/api/v2/pokemon/49/'},
 {'name': 'diglett', 'url': 'https://pokeapi.co/api/v2/pokemon/50/'},
 {'name': 'dugtrio', 'url': 'https://pokeapi.co/api/v2/pokemon/51/'},
 {'name': 'meowth', 'url': 'https://pokeapi.co/api/v2/pokemon/52/'},
 {'name': 'persian', 'url': 'https://pokeapi.co/api/v2/pokemon/53/'},
 {'name': 'psyduck', 'url': 'https://pokeapi.co/api/v2/pokemon/54/'},
 {'name': 'golduck', 'url': 'https://pokeapi.co/api/v2/pokemon/55/'},
 {'name': 'mankey', 'url': 'https://pokeapi.co/api/v2/pokemon/56/'},
 {'name': 'primeape', 'url': 'https://pokeapi.co/api/v2/pokemon/57/'},
 {'name': 'growlithe', 'url': 'https://pokeapi.co/api/v2/pokemon/58/'},
 {'name': 'arcanine', 'url': 'https://pokeapi.co/api/v2/pokemon/59/'},
 {'name': 'poliwag', 'url': 'https://pokeapi.co/api/v2/pokemon/60/'},
 {'name': 'poliwhirl', 'url': 'https://pokeapi.co/api/v2/pokemon/61/'},
 {'name': 'poliwrath', 'url': 'https://pokeapi.co/api/v2/pokemon/62/'},
 {'name': 'abra', 'url': 'https://pokeapi.co/api/v2/pokemon/63/'},
 {'name': 'kadabra', 'url': 'https://pokeapi.co/api/v2/pokemon/64/'},
 {'name': 'alakazam', 'url': 'https://pokeapi.co/api/v2/pokemon/65/'},
 {'name': 'machop', 'url': 'https://pokeapi.co/api/v2/pokemon/66/'},
 {'name': 'machoke', 'url': 'https://pokeapi.co/api/v2/pokemon/67/'},
 {'name': 'machamp', 'url': 'https://pokeapi.co/api/v2/pokemon/68/'},
 {'name': 'bellsprout', 'url': 'https://pokeapi.co/api/v2/pokemon/69/'},
 {'name': 'weepinbell', 'url': 'https://pokeapi.co/api/v2/pokemon/70/'},
 {'name': 'victreebel', 'url': 'https://pokeapi.co/api/v2/pokemon/71/'},
 {'name': 'tentacool', 'url': 'https://pokeapi.co/api/v2/pokemon/72/'},
 {'name': 'tentacruel', 'url': 'https://pokeapi.co/api/v2/pokemon/73/'},
 {'name': 'geodude', 'url': 'https://pokeapi.co/api/v2/pokemon/74/'},
 {'name': 'graveler', 'url': 'https://pokeapi.co/api/v2/pokemon/75/'},
 {'name': 'golem', 'url': 'https://pokeapi.co/api/v2/pokemon/76/'},
 {'name': 'ponyta', 'url': 'https://pokeapi.co/api/v2/pokemon/77/'},
 {'name': 'rapidash', 'url': 'https://pokeapi.co/api/v2/pokemon/78/'},
 {'name': 'slowpoke', 'url': 'https://pokeapi.co/api/v2/pokemon/79/'},
 {'name': 'slowbro', 'url': 'https://pokeapi.co/api/v2/pokemon/80/'},
 {'name': 'magnemite', 'url': 'https://pokeapi.co/api/v2/pokemon/81/'},
 {'name': 'magneton', 'url': 'https://pokeapi.co/api/v2/pokemon/82/'},
 {'name': 'farfetchd', 'url': 'https://pokeapi.co/api/v2/pokemon/83/'},
 {'name': 'doduo', 'url': 'https://pokeapi.co/api/v2/pokemon/84/'},
 {'name': 'dodrio', 'url': 'https://pokeapi.co/api/v2/pokemon/85/'},
 {'name': 'seel', 'url': 'https://pokeapi.co/api/v2/pokemon/86/'},
 {'name': 'dewgong', 'url': 'https://pokeapi.co/api/v2/pokemon/87/'},
 {'name': 'grimer', 'url': 'https://pokeapi.co/api/v2/pokemon/88/'},
 {'name': 'muk', 'url': 'https://pokeapi.co/api/v2/pokemon/89/'},
 {'name': 'shellder', 'url': 'https://pokeapi.co/api/v2/pokemon/90/'},
 {'name': 'cloyster', 'url': 'https://pokeapi.co/api/v2/pokemon/91/'},
 {'name': 'gastly', 'url': 'https://pokeapi.co/api/v2/pokemon/92/'},
 {'name': 'haunter', 'url': 'https://pokeapi.co/api/v2/pokemon/93/'},
 {'name': 'gengar', 'url': 'https://pokeapi.co/api/v2/pokemon/94/'},
 {'name': 'onix', 'url': 'https://pokeapi.co/api/v2/pokemon/95/'},
 {'name': 'drowzee', 'url': 'https://pokeapi.co/api/v2/pokemon/96/'},
 {'name': 'hypno', 'url': 'https://pokeapi.co/api/v2/pokemon/97/'},
 {'name': 'krabby', 'url': 'https://pokeapi.co/api/v2/pokemon/98/'},
 {'name': 'kingler', 'url': 'https://pokeapi.co/api/v2/pokemon/99/'},
 {'name': 'voltorb', 'url': 'https://pokeapi.co/api/v2/pokemon/100/'},
 {'name': 'electrode', 'url': 'https://pokeapi.co/api/v2/pokemon/101/'},
 {'name': 'exeggcute', 'url': 'https://pokeapi.co/api/v2/pokemon/102/'},
 {'name': 'exeggutor', 'url': 'https://pokeapi.co/api/v2/pokemon/103/'},
 {'name': 'cubone', 'url': 'https://pokeapi.co/api/v2/pokemon/104/'},
 {'name': 'marowak', 'url': 'https://pokeapi.co/api/v2/pokemon/105/'},
 {'name': 'hitmonlee', 'url': 'https://pokeapi.co/api/v2/pokemon/106/'},
 {'name': 'hitmonchan', 'url': 'https://pokeapi.co/api/v2/pokemon/107/'},
 {'name': 'lickitung', 'url': 'https://pokeapi.co/api/v2/pokemon/108/'},
 {'name': 'koffing', 'url': 'https://pokeapi.co/api/v2/pokemon/109/'},
 {'name': 'weezing', 'url': 'https://pokeapi.co/api/v2/pokemon/110/'},
 {'name': 'rhyhorn', 'url': 'https://pokeapi.co/api/v2/pokemon/111/'},
 {'name': 'rhydon', 'url': 'https://pokeapi.co/api/v2/pokemon/112/'},
 {'name': 'chansey', 'url': 'https://pokeapi.co/api/v2/pokemon/113/'},
 {'name': 'tangela', 'url': 'https://pokeapi.co/api/v2/pokemon/114/'},
 {'name': 'kangaskhan', 'url': 'https://pokeapi.co/api/v2/pokemon/115/'},
 {'name': 'horsea', 'url': 'https://pokeapi.co/api/v2/pokemon/116/'},
 {'name': 'seadra', 'url': 'https://pokeapi.co/api/v2/pokemon/117/'},
 {'name': 'goldeen', 'url': 'https://pokeapi.co/api/v2/pokemon/118/'},
 {'name': 'seaking', 'url': 'https://pokeapi.co/api/v2/pokemon/119/'},
 {'name': 'staryu', 'url': 'https://pokeapi.co/api/v2/pokemon/120/'},
 {'name': 'starmie', 'url': 'https://pokeapi.co/api/v2/pokemon/121/'},
 {'name': 'mr-mime', 'url': 'https://pokeapi.co/api/v2/pokemon/122/'},
 {'name': 'scyther', 'url': 'https://pokeapi.co/api/v2/pokemon/123/'},
 {'name': 'jynx', 'url': 'https://pokeapi.co/api/v2/pokemon/124/'},
 {'name': 'electabuzz', 'url': 'https://pokeapi.co/api/v2/pokemon/125/'},
 {'name': 'magmar', 'url': 'https://pokeapi.co/api/v2/pokemon/126/'},
 {'name': 'pinsir', 'url': 'https://pokeapi.co/api/v2/pokemon/127/'},
 {'name': 'tauros', 'url': 'https://pokeapi.co/api/v2/pokemon/128/'},
 {'name': 'magikarp', 'url': 'https://pokeapi.co/api/v2/pokemon/129/'},
 {'name': 'gyarados', 'url': 'https://pokeapi.co/api/v2/pokemon/130/'},
 {'name': 'lapras', 'url': 'https://pokeapi.co/api/v2/pokemon/131/'},
 {'name': 'ditto', 'url': 'https://pokeapi.co/api/v2/pokemon/132/'},
 {'name': 'eevee', 'url': 'https://pokeapi.co/api/v2/pokemon/133/'},
 {'name': 'vaporeon', 'url': 'https://pokeapi.co/api/v2/pokemon/134/'},
 {'name': 'jolteon', 'url': 'https://pokeapi.co/api/v2/pokemon/135/'},
 {'name': 'flareon', 'url': 'https://pokeapi.co/api/v2/pokemon/136/'},
 {'name': 'porygon', 'url': 'https://pokeapi.co/api/v2/pokemon/137/'},
 {'name': 'omanyte', 'url': 'https://pokeapi.co/api/v2/pokemon/138/'},
 {'name': 'omastar', 'url': 'https://pokeapi.co/api/v2/pokemon/139/'},
 {'name': 'kabuto', 'url': 'https://pokeapi.co/api/v2/pokemon/140/'},
 {'name': 'kabutops', 'url': 'https://pokeapi.co/api/v2/pokemon/141/'},
 {'name': 'aerodactyl', 'url': 'https://pokeapi.co/api/v2/pokemon/142/'},
 {'name': 'snorlax', 'url': 'https://pokeapi.co/api/v2/pokemon/143/'},
 {'name': 'articuno', 'url': 'https://pokeapi.co/api/v2/pokemon/144/'},
 {'name': 'zapdos', 'url': 'https://pokeapi.co/api/v2/pokemon/145/'},
 {'name': 'moltres', 'url': 'https://pokeapi.co/api/v2/pokemon/146/'},
 {'name': 'dratini', 'url': 'https://pokeapi.co/api/v2/pokemon/147/'},
 {'name': 'dragonair', 'url': 'https://pokeapi.co/api/v2/pokemon/148/'},
 {'name': 'dragonite', 'url': 'https://pokeapi.co/api/v2/pokemon/149/'},
 {'name': 'mewtwo', 'url': 'https://pokeapi.co/api/v2/pokemon/150/'},
 {'name': 'mew', 'url': 'https://pokeapi.co/api/v2/pokemon/151/'}]

[Read the documentation here](https://pokeapi.co/docs/v2.html) for information on navigating this API and use the API to obtain data to answer the following questions.

### Accessing Data

1. For any **one** Pokemon, retrieve the following information in a dictionary format with the following keys:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types

The `types` attribute is going to require some manipulation of the data. The API does not respond with the data in the desired format. You might want to write helper functions to convert the format the API responds with to a `list` of `strings`. 

Your output should look like this:

```
{'id': 1, 
'name': 'bulbasaur', 
'base_experience': 64, 
'weight': 69, 
'height': 7, 
'types': ['poison', 'grass']}
```

In [ ]:
# you may define any helper functions here

In [1]:
def get_pokedata(url):
    
    """
    url is a string of the URL that will get you the relevant info from the API
    for a single pokemon. 
    Example: "https://pokeapi.co/api/v2/pokemon/1/"
    
    this function should return the dictionary for ONE pokemon
    
    """
    
    pass

### Processing All The Data

2. Get the same information for the first **151** Pokemon as a list of dictionaries ordered by Pokemon ID. Print the first and last elements of the list. Your output should save the list to a variable and look like this:

```
[{'id': 1, 
'name': 'bulbasaur', 
'base_experience': 64, 
'weight': 69, 
'height': 7, 
'types': ['poison', 'grass']}, 
{'id': 2, 
'name': 'ivysaur', 
'base_experience': 142, 
'weight': 130, 
'height': 10, 
'types': ['poison', 'grass']}, ... ]
```

In [ ]:
""" 

Assign to "pokedata" the list of 151 dictionaries.
You may use your function from the previous question.

"""

# Your code here



pokedata = None

In [ ]:
# printing first and last elements

print(pokedata[0], pokedata[-1])

## Part 2: Object Oriented Programming

We're going to use the data gathered in the previous section on APIs for this section on Object Oriented Programming to instantiate Pokemon objects and write instance methods.

### Creating a Class

1. Create a class called `Pokemon` with an `__init__` method to instantiate the following attributes:
    - ID
    - Name
    - Base experience
    - Weight
    - Height
    - Types

In [6]:
# if you were unable to get the data from the API in the right format,
# uncomment the code below to access a JSON file with the list of dictionaries

with open('data/pokemon.json') as f:  
    pokelist = json.load(f)

In [10]:
"""
Create your class below with the correct syntax, including an __init__ method.

"""
class Pokemon():
    
    def__init__(self, ID, Name, Base_experince, Weight, Height, Types):
        self.ID = ID
        self.Name = Name
        self.Base_experience = Base_experience
        self.Weight = Weight
        self.Height = Height
        self.Types = Types

SyntaxError: invalid syntax (<ipython-input-10-da583148aa85>, line 7)

    
### Instantiating Objects

2. Using the data you obtained from the API, instantiate the first, fourth and seventh Pokemon. Assign them to the variables `bulbasaur`, `charmander` and `squirtle`.

In [8]:
# Your code here

bulbasaur = Pokemon()
charmander = Pokemon()
squirtle = Pokemon()

NameError: name 'Pokemon' is not defined

In [9]:
# run this cell to test and check your code
# you may need to edit the attribute variable names if you named them differently!

def print_pokeinfo(pokemon_object):
    o = pokemon_object
    print('ID: ' + str(o.ID) + '\n' +
          'Name: ' + o.name.title() + '\n' +
          'Base experience: ' + str(o.exp) + '\n' +
          'Weight: ' + str(o.weight) + '\n' +
          'Height: ' + str(o.height) + '\n' +
          'Types: ' + str(o.types) + '\n' +
         )
    
print_pokeinfo(bulbasaur)
print_pokeinfo(ivysaur)
print_pokeinfo(venusaur)

SyntaxError: invalid syntax (<ipython-input-9-7e12cee02b1d>, line 12)

### Instance Methods

3. Write an instance method within the class `Pokemon` to find the BMI of a Pokemon. BMI is defined by $\frac{weight}{height^{2}}$ with weight in **kilograms** and height in **meters**. The height and weight data of Pokemon from the API is in **decimeters** and **hectograms** respectively.


    1 decimeter = 0.1 meters
    1 hectogram = 0.1 kilograms

In [11]:
# run this cell to test and check your code
# you will probably have to rerun the code to instantiate your objects

print(bulbasaur.bmi()) # 14.08
print(charmander.bmi()) # 23.61
print(squirtle.bmi()) # 36

def bmi(weight , height):
    weight = 0
    height = 0
    return weight/height

NameError: name 'bulbasaur' is not defined

## Part 3: SQL and Relational Databases

For this section, we've put the Pokemon data into SQL tables. You won't need to use your list of dictionaries or the JSON file for this section. The schema of `pokemon.db` is as follows:

<img src="data/pokemondb.png" alt="db schema" style="width:500px;"/>

Assign your SQL queries as strings to the variables `q1`, `q2`, etc. and run the cells at the end of this section to print your results as Pandas DataFrames.

- q1: query all columns from `Pokemon` the Pokemon that have base_experience above 200  

  
- q2: query the id, name, type1 and type2 of Pokemon that have **water** types as either their first or second type


- q3: query the average weight of Pokemon by their first type in descending order


- q4: query the Pokemon name, Pokemon type2, and what **type2** has "2xdamage" to


- q5: query the top 5 most common type1s, the minimum height, maximum height, minimum weight and maximum weight of pokemon with those type1s, and what associated type they do "0.5xdamage" to


**Important note on syntax**: use `double quotes ""` when quoting strings **within** your query and wrap the entire query in `single quotes ''` For the column titles that begin with numbers, you need to wrap the column names in double quotes.

In [13]:
cnx = sqlite3.connect('data/pokemon.db')

In [14]:
# q1: query all columns from Pokemon the Pokemon that have base_experience above 200
q1 = "SELECT * FROM pokemon WHERE base_experience > 200"
pd.read_sql(q1, cnx)

     id        name  base_experience  weight  height     type1     type2
0     3    venusaur              236    1000      20     grass    poison
1     6   charizard              240     905      17      fire    flying
2     9   blastoise              239     855      16     water      None
3    18     pidgeot              216     395      15    normal    flying
4    26      raichu              218     300       8  electric      None
5    31   nidoqueen              227     600      13    poison    ground
6    34    nidoking              227     620      14    poison    ground
7    36    clefable              217     400      13     fairy      None
8    45   vileplume              221     186      12     grass    poison
9    62   poliwrath              230     540      13     water  fighting
10   65    alakazam              225     480      15   psychic      None
11   68     machamp              227    1300      16  fighting      None
12   71  victreebel              221     155      17     grass    poison
13   76       golem              223    3000      14      rock    ground
14   94      gengar              225     405      15     ghost    poison
15  113     chansey              395     346      11    normal      None
16  144    articuno              261     554      17       ice    flying
17  145      zapdos              261     526      16  electric    flying
18  146     moltres              261     600      20      fire    flying
19  149   dragonite              270    2100      22    dragon    flying
20  150      mewtwo              306    1220      20   psychic      None
21  151         mew              270      40       4   psychic      None

In [30]:
# q2: query the id, name, type1 and type2 of Pokemon that have water types as either their first or second type
q2 = "SELECT id, name, COUNT(type1, type2) FROM pokemon GROUP BY water"
pd.read_sql(q2, cnx)

DatabaseError: Execution failed on sql 'SELECT id, name, COUNT(type1, type2) FROM pokemon GROUP BY water': wrong number of arguments to function COUNT()

In [34]:
# q3: query the average weight of Pokemon by their first type in descending order
q3 = "SELECT AVG(weight) FROM pokemon ORDER BY type1 DESC"
pd.read_sql(q3, cnx)

   AVG(weight)
0   459.516556

In [52]:
# q4: query the Pokemon name, Pokemon type2, and what type2 has "2xdamage" to
q4 = "SELECT pokemon.name, pokemon.type2, types.2xdamage FROM pokemon LEFT JOIN types ON pokemon.type2=types.2xdamage"
pd.read_sql(q4, cnx)

DatabaseError: Execution failed on sql 'SELECT pokemon.name, pokemon.type2, types.2xdamage FROM pokemon LEFT JOIN types ON pokemon.type2=types.2xdamage': unrecognized token: ".2xdamage"

In [ ]:
# q5: query the top 5 most common type1s, the minimum height, maximum height, minimum weight and maximum weight of pokemon with those type1s, and what associated type they do "0.5xdamage" to
q5 = 'SELECT pokemon'
pd.read_sql(q5, cnx)
# I couldn't find Online how to multiple min & max select statements

## Section 4: Web Scraping

### Accessing Data Using BeautifulSoup

Use BeautifulSoup to get quotes, authors, and tags from [Quotes to Read](http://quotes.toscrape.com/).

Before answering these questions, go to the site and inspect the page. Make sure to look at what links there are and how the site is structured.

1. Get the first author and the path for the author's page as a tuple from the [homepage](http://quotes.toscrape.com/).

In [ ]:
# Make a get request to retrieve the page
html_page = requests.get('http://quotes.toscrape.com/') 
# Pass the page contents to beautiful soup for parsing
soup = BeautifulSoup(html_page.content, 'html.parser')

# Your code here

2. Write a function to get **all** the authors and href links for the authors from the [homepage](http://quotes.toscrape.com/)

In [ ]:
def authors(url):
    '''
    input: url
    
    return: a dictionary of of authors and their urls
            {'author_1':'url_of_author_1', 'author_2':'url_of_author_2' ...}
    '''
    pass

In [ ]:
# run this cell to test the function
print(authors('http://quotes.toscrape.com/'))
print('\n')
print(authors('http://quotes.toscrape.com/page/3'))

### Pagination

3. Get the first author on each of the first 5 pages of quotes. You can get to the next page with the next button at the bottom of the homepage.

In [ ]:
# Your code here

4. Write a function to get all of the quotes from a page.

In [ ]:
def get_some_quotes(url):
    '''
    input: url, number of pages to scrap (just scrape the home page if no argument is passed in)
    
    return: a list of dictionaries of quotes with their attributes
            [{'quote':'quote_1_text', 'author':'url_of_author_1'}, 
            {'quote':'quote_2_text', 'author':'url_of_author_2', 'quote_tags':[list_of_quote_2_tags]}, ...]
    '''
    pass

In [ ]:
# set the function to a variable to use later
quotes_for_mongo = get_some_quotes('http://quotes.toscrape.com/' )
quotes_for_mongo

## Part 5: MongoDB

To do this section, open a connection to a mongo database in the terminal, using `mongod`. You will then **create**, **update**, and **read** from a mongo database.

Create and connect to a mongo database.

In [45]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = myclient['quote_database']

In [46]:
mycollection = mydb['quote_collection']

1. Add the quotes you obtained from the `get_some_quotes` function for the [homepage](http://quotes.toscrape.com/) to the mongo database. (You can also use the JSON file `quotes.json` to insert data into the database) To verify that you've successfully inserted the data, query it to obtain the resulting _ids back from the `results` variable.

In [47]:
# if you were unable to get the data from webscraping in the right format,
# uncomment the code below to access a JSON file with the list of dictionaries

with open(r"data/quotes.json", "r") as r:
    data = json.load(r)

FileNotFoundError: [Errno 2] No such file or directory: 'data/quotes.json'

In [44]:
# use the results variable to confirm the data was inserted
results = None

2. Query the database for all the quotes written by `'Albert Einstein'`.

In [ ]:
q1 = mycollection.find({}, {'name': 'Albert Einstein', 'quotes'})
for item in query_1:
    print(item)

3. Update Steve Martin's quote with the tags for the quote stored in the variable `steve_martin_tags`.

In [ ]:
steve_martin_tags = {'quote_tags': ['change', 'deep-thoughts', 'thinking', 'world']}
update_steve = {'$set': {'abc': xyz}} #Come back
first_quote_tags = 

mycollection.update_one(steve_martin_tags,update_steve)
mycollection.update_one(steve_martin_tages,first_quote_tags)

4. Query the database to confirm that  `'Steve Martin'` is updated with `steve_martin_tags`.

In [48]:
q2 = mycollection.find({'name': 'Steve Martin'})
for item in query_6:
    print(item)

NameError: name 'query_6' is not defined